body{   
    background-color:#404040
}
.radio-inline{
    font-weight: bold;
    font-size: 12px;
    font-family: sans-serif;
}
.center{
    background-color: #F0F0F0;
    text-align:center;
    height:100vh;
    margin-left: auto;
    margin-right: auto;
}

.error{
    color:red;
    font-style: italic;
}