h<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/main.css">

    <title>Welcome to Chessley</title>

  </head>
  <body>
    <!-- navbar
      Add/change as necessary-->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/about">Chessley</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/download">Download</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/leaderboards">Leaderboards</a></li>
          </ul>
        </div>
      </nav>
      <!-- navbar ends here-->
      <div class="container-fluid">
        <div class="col-sm-2 edgebar" > 
        </div>
          <div class="center col-sm-8"> 
            <!-- put content here-->
            <h1> A New Way To Play Chess</h1>
            <p class="justify-left">Chessley is an online competitive robotics chess game. You don't simply play against your opponent, you train a robot to play against your opponent! Show off your chess skills be teaching a bot how to play. Can your robot beat your friends?</p>
            <hr class="black">
            <h2> Frequently Asked Questions</h2>
            <ul class="justify-left">
              <li>
                <h4>How Do I train Chessley</h4>
                <p> Click on the Download button in the navigation bar and follow the instructions. You can download and train him, then upload your new and improved Chessley to our server</p>
              </li>
              <li>
                <h4>What is ELO and how is it calculated</h4>
                <p>Elo is a score system used to calculate rankings. When you beat a player, you get ELO. When you beat a player of higher ELO, you get more than you would by beating a player of lower ELO. </p>
              </li>
              <li>
                <h4>How come I can't find the play button?</h4>
                <p>To play against your AI, you download the program and run it offline. To have your AI play against others, you simply upload your game logs and wait. Matches will automatically be run at 12:00am EST</p>
              </li>
              <!--
                <li>
                <h4></h4>
                <p></p>
                </li>
              -->
            </ul><!-- end content here-->
          </div>
          <div class="col-sm-2 edgebar">
          </div>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
