<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <title>Chessley</title>

  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo right" href="/home">Chessley</a>
        <ul class="left hide-on-med-and-down">
          <li class="active"><a href="/home">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/leaderboards">Leaderboards</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="col s4 push-s2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Who is Chessley?</span>
            <p>Chessley is a baby. And you are his teacher. Train Chessley to play chess by playing
            against him, and pit him up against other Chessley's trained by other people</p>
          </div>
        </div>
      </div>
      <div class="col s4 push-s2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">A TensorFlow Neural Network</span>
            <p>Chessley is a modified TensorFlow port of <a href="https://github.com/erikbern/deep-pink">Deep Pink</a></p>
            He is a deep learning artifical intelligence that learns to play chess from playing against you
          </div>
        </div>
      </div>
      <div class="col s4 push-s2">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Sign Up Below, for Your Own AI</span>
          </div>
        </div>
      </div>
      <div class="col s4 push-s2">
        <form method="POST" action="register" class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input id="username" name="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s6">
              <input type="password" id="pass" name="pass">
              <label for="pass">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
              <input type="password" id="pass2" name="pass2">
              <label for="pass2">Confirm Password</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
