<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="../static/css/main.css">
    

    <title>Welcome to Chessley</title>
    
  </head>
  <body>
    
    <div class="container-fluid">

      <div class="col-sm-2 edgebar" > 
      </div>
      
      <div class="center col-sm-8"> 
	<!-- this is the body-->
	<!-- navbar -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">WebSiteName</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li>
	      <li><a href="#">Page 3</a></li>
	    </ul>
	  </div>
	</nav>

	<h1> Welcome to Chessley, a competitive online chess training game</h1>
	<form method="POST" action="/login">
	  Username: <input type="text" name="username">
	  Password: <input type="password" name="pass">
	  <button href="/answers.html" type="submit" class="btn btn-default">Log in</button>
	</form>
	
	<div class="col-sm-2 edgebar">
	  
	</div>

      </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
