h<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="../static/css/main.css">
    

    <title>Welcome to Chessley</title>
    
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/home">Chessley</a>
	</div>
	<ul class="nav navbar-nav">
	  <li class="active"><a href="#">Home</a></li>
	  <li><a href="#">Page 1</a></li>
	  <li><a href="#">Page 2</a></li>
	  <li><a href="#">Page 3</a></li>
	</ul>
      </div>
    </nav>
    
    <div class="container-fluid">
      <div class="col-sm-2 edgebar" > 
      </div>
      <div class="center col-sm-8"> 
	
	<!-- this is the body-->
	<div class="left">
     	  <h1> A new way to play chess</h1>
	  <h4 id="synopsis"> Chessley is an online competitive robotics chess game. You don't simply play against your opponent, you train a robot to play against your opponent! Show off your chess skills be teaching a bot how to play. Can your robot beat your friends?</h4>
	</div>
	<div class="right">
	  <br>
	  <form method="POST" action="/signup">
	    <input type="text" name="username" placeholder="Choose a username"><br>
	    <input type="password" name="pass" placeholder="choose a password"><br>
	    <input type="password" name="pass2" placeholder="Reenter password"><br>
	    <input type="text" name="email" placeholder="Enter your email"><br><br>
	    <button href="/answers.html" type="submit" class="btn btn-default">Sign up!</button>
	  </form>
	</div>
	<div class="col-sm-2 edgebar">
	  
	</div>

      </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
