<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <title>About Chessley</title>

</head>

<body>
  <!-- navbar Add/change as necessary-->
  {% if AUTH %}
  <nav>
    <div class="navbar-fixed blue-grey darken-4">
      <a class="brand-logo right" href="/home">
        <img class="responsive-img circle" src="/static/icon.png"></img>
      </a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/profile">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="active"><a href="/leaderboards">Leaderboards</a></li>
        <li><a href="/download">Download</a></li>
        <li><a href="/upload">Upload</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  {% else %}
  <nav>
    <div class="navbar-fixed blue-grey darken-4">
      <a class="brand-logo right" href="/home">
        <img class="responsive-img circle" src="/static/icon.png"></img>
      </a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/login">Login</a></li>
        <li class="active"><a href="/leaderboards">Leaderboards</a></li>
      </ul>
    </div>
  </nav>
  {% endif %}

  <div class="container">
    <div class="center col-sm-8">
      <!-- put content here-->
      <h1> Chessley Leaderboards</h1>
      <form method="GET" action="searchboards">
        <input type="text" name="searched" placeholder="Search Users">
      </form>
      <br>

      <table class="table centered bordered">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Elo</th>
          </tr>
        </thead>
        <tbody>
          {% for user in table %}
          <tr>
            <td> {{user["rank"]}}
              <!-- put rank here -->
            </td>
            <td> {{user["name"]}}
              <!-- put name here-->
            </td>
            <td> {{user["elo"]}}
              <!-- put elo here-->
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

      <!-- end content here-->
    </div>
    <div class="col-sm-2 edgebar">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>
