h<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">

    <link rel="stylesheet" href="../static/css/main.css">
    

    <title>Welcome to Chessley</title>
    
  </head>
  <body>
    <!-- navbar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="home">Chessley</a>
	</div>
	<ul class="nav navbar-nav">
	  <li class="active"><a href="home">Home</a></li>
	  <li><a href="login">Login</a></li>
	  <li><a href="leaderboards">Leaderboards</a></li>
	</ul>
      </div>
    </nav>
    
    <div class="container-fluid">
      <div class="col-sm-2 edgebar" > 
      </div>
      <div class="center col-sm-8"> 
      </div>
      <div class="col-sm-2 edgebar">
      </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
