<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <title>Chessley - Upload</title>

</head>

<body>
  <nav>
    <div class="navbar-fixed blue-grey darken-4">
      <a class="brand-logo right" href="/home">
        <img class="responsive-img circle" src="/static/icon.png"></img>
      </a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/profile">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/leaderboards">Leaderboards</a></li>
        <li><a href="/download">Download</a></li>
        <li class="active"><a href="/upload">Upload</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <!-- navbar ends here-->
  <div class="container">
    <div class="center col-sm-8">
      <!-- put content here-->
      <h1> Upload Game Data</h1>

      <p class="justify-left"> To update your personal AI, upload your game logs from [some location]. This will allow your AI to learn from all the games you played against it offline.</p>
      <br>
      <form method="POST" action="/upload" class="justify-left" enctype="multipart/form-data">
        <input type="file" name="upload_bot">
        <button type="submit" class="btn btn-default">Upload
            <i class="material-icons right">navigation</i>
        </button>
      </form>
      <!-- end content here-->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>
