h<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">

  <link rel="stylesheet" href="../static/css/main.css">

  <title>Welcome to Chessley</title>

</head>
<body>
  <!-- navbar
  Add/change as necessary-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="about">Chessley</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="about">About</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="download">Download</a></li>
        <li class="active"><a href="upload">Upload</a></li>
        <li><a href="leaderboards">Leaderboards</a></li>
      </ul>
    </div>
  </nav>
  <!-- navbar ends here-->
  <div class="container-fluid">
    <div class="col-sm-2 edgebar" >
    </div>
    <div class="center col-sm-8">
      <!-- put content here-->
      <h1> Upload Game Data</h1>

      <p class="justify-left"> To update your personal AI, upload your game logs from [some location]. This will allow your AI to learn from all the games you played against it offline.</p><br>
      <form method="POST" action="upload" class="justify-left" enctype="multipart/form-data">
        <input type="file" name="upload_bot">
        <button type="submit" class="btn btn-default">Upload</button>
      </form>
      <!-- end content here-->
    </div>
    <div class="col-sm-2 edgebar">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
  </html>
